<div class="col s12 m12 l12">
    <section class="retroapp">
        <h2 class="center section-header">
            <span>ACTIONS</span>
        </h2>
        <div class="row" *ngFor="#action of actions">
            <div class="col s6 m6 l6">
                <label class="flow-text">{{action.description}}</label>
            </div>
            <div class="col s6 m6 l6">
                <label class="flow-text">{{action.owner}}</label>
            </div>
        </div>
        <div class="row">
            <form class="col s12 m12 l12" [ngFormModel]="form" (ngSubmit)="addAction()">
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        <input class="new-item" ngControl="description" placeholder="Description" autofocus>
                        <div *ngIf="description.dirty && !description.valid">
                            <p class="red-text text-darken-1">Description should be present.</p>
                        </div>
                    </div>
                    <div class="input-field col s6 m6 l6">
                        <input class="new-item" ngControl="owner" placeholder="Owner">
                        <div *ngIf="owner.dirty && !owner.valid">
                            <p class="red-text text-darken-1">Owner should be present.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn" [class.disabled]="!form.valid" [disabled]="!form.valid">ADD</button>
                </div>
            </form>

        </div>

        {{form.dirty}}

    </section>
</div>

