label {
  display: block;
  transition: color 0.4s;
}

li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.destroy {
  visibility: hidden;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  border: 0;
  background-color: transparent;
  line-height: 3;
}

.destroy:hover {
  color: #af5b5e;
}

.destroy:after {
  content: '×';
}

.like {
  visibility: hidden;
  color: #CCE5FF;
  transition: color 0.2s ease-out;
  border: 0;
  background-color: transparent;
  line-height: 3;
}

.like:hover {
  color: #66B2FF;
}

.like:after {
  content: '+';
}

.archive {
  visibility: hidden;
  color: #00C853;
  transition: color 0.2s ease-out;
  border: 0;
  background-color: transparent;
  line-height: 3;
}

.archive:hover {
  color: #00DD00;
}

.archive:after {
  content: 'v';
}

.viewLikes {
  color: #66B2FF;
  transition: color 0.2s ease-out;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  text-align: right;
  line-height: 3;
}

.row:hover .destroy, .row:hover .like, .row:hover .archive {
  visibility: visible;
}

.message {
  font-size: 30px;
  word-break: break-all;
}

.action {
  color: #26a69a;
}

.action {
  color: #26a69a;
}
