<div class="col s12 m12 l12">
    <section class="retroapp">
        <h2 class="center section-header">
            <span>ITEMS</span>
        </h2>

        <div class="row">
            <form class="col s12 m4 l4" [ngFormModel]="happyForm" (ngSubmit)="addItem('HAPPY')">
                <h3 class="center section-header"><span class="flow-text">:)</span></h3>
                <div class="row">
                    <section class="main">
                        <ul class="retro-list">
                            <retro-item *ngFor="#item of happyItems | statusFilter:filterArgs"
                                        [item]="item"
                                        (done)="removeItem($event)">
                            </retro-item>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <input class="new-item" placeholder="Add something..." autofocus
                           ngControl="happyMessage" [hidden]="filterArgs.status === 'ARCHIVED'"/>
                    <div *ngIf="happyMessage.dirty && !happyMessage.valid">
                        <p class="red-text text-darken-1">Message should be present.</p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn" [class.disabled]="!happyForm.valid"
                            [disabled]="!happyForm.valid"
                            [hidden]="filterArgs.status === 'ARCHIVED'">
                        ADD
                    </button>
                </div>
            </form>

            <form class="col s12 m4 l4" [ngFormModel]="mediocreForm" (ngSubmit)="addItem('MEDIOCRE')">
                <h3 class="center section-header"><span class="flow-text">:/</span></h3>
                <div class="row">
                    <section class="main">
                        <ul class="retro-list">
                            <retro-item *ngFor="#item of mediocreItems | statusFilter:filterArgs"
                                        [item]="item"
                                        (done)="removeItem($event)">
                            </retro-item>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <input class="new-item" placeholder="Add something..." autofocus
                           ngControl="mediocreMessage" [hidden]="filterArgs.status === 'ARCHIVED'"/>
                    <div *ngIf="mediocreMessage.dirty && !mediocreMessage.valid">
                        <p class="red-text text-darken-1">Message should be present.</p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn" [class.disabled]="!mediocreForm.valid"
                            [disabled]="!happyForm.valid"
                            [hidden]="filterArgs.status === 'ARCHIVED'">
                        ADD
                    </button>
                </div>
            </form>

            <form class="col s12 m4 l4" [ngFormModel]="unhappyForm" (ngSubmit)="addItem('UNHAPPY')">
                <h3 class="center section-header"><span class="flow-text">:(</span></h3>
                <div class="row">
                    <section class="main">
                        <ul class="retro-list">
                            <retro-item *ngFor="#item of unhappyItems | statusFilter:filterArgs"
                                        [item]="item"
                                        (done)="removeItem($event)">
                            </retro-item>
                        </ul>
                    </section>
                </div>
                <div class="row">
                    <input class="new-item" placeholder="Add something..." autofocus
                           ngControl="unhappyMessage" [hidden]="filterArgs.status === 'ARCHIVED'"/>
                    <div *ngIf="unhappyMessage.dirty && !unhappyMessage.valid">
                        <p class="red-text text-darken-1">Message should be present.</p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn" [class.disabled]="!unhappyForm.valid"
                            [disabled]="!unhappyForm.valid"
                            [hidden]="filterArgs.status === 'ARCHIVED'">
                        ADD
                    </button>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col s12 m12 l12 center">
                <button (click)="switchOrderByLikes()" class="btn">Sort by popularity</button>
                <button (click)="switchStatusFilter()" class="btn">View {{getAlternativeStatus() | lowercase}} items
                </button>
            </div>
        </div>
    </section>
</div>

