<div class="column">
    <section class="todoapp">

        <header class="header">
            <h1>Happy</h1>
        </header>
        <section class="main">
            <ul class="todo-list">
                <retro-item *ngFor="#item of happyItems"
                            [item]="item"
                            (done)="removeItem($event)"
                            (itemUpdated)="itemUpdated($event)">
                </retro-item>
            </ul>
        </section>
        <input class="new-todo" placeholder="Add something..." autofocus
               #happyText (keyup.enter)="addItem('HAPPY', happyText)">
        <button class="add" (click)="addItem('HAPPY', happyText)">Add</button>
    </section>
</div>

<div class="column">
    <section class="todoapp">
        <header class="header">
            <h1>Mediocre</h1>
        </header>
        <section class="main">
            <ul class="todo-list">
                <retro-item *ngFor="#item of mediocreItems"
                            [item]="item"
                            (done)="removeItem($event)"
                            (itemUpdated)="itemUpdated($event)">
                </retro-item>
            </ul>
        </section>
        <input class="new-todo" placeholder="Add something..." autofocus
               #mediocreText (keyup.enter)="addItem('MEDIOCRE', mediocreText)">
        <button class="add" (click)="addItem('MEDIOCRE', mediocreText)">Add</button>
    </section>
</div>

<div class="column">
    <section class="todoapp">
        <header class="header">
            <h1>Unhappy</h1>
        </header>
        <section class="main">
            <ul class="todo-list">
                <retro-item *ngFor="#item of unhappyItems"
                            [item]="item"
                            (done)="removeItem($event)"
                            (itemUpdated)="itemUpdated($event)">
                </retro-item>
            </ul>
        </section>
        <input class="new-todo" placeholder="Add something..." autofocus
               #unhappyText (keyup.enter)="addItem('UNHAPPY', unhappyText)">
        <button class="add" (click)="addItem('UNHAPPY', unhappyText)">Add</button>
    </section>
</div>

<div class="toolbar">
    <button (click)="switchOrderByLikes()">Sort by popularity</button>
</div>

